body {
  background-color: DimGray;
}

body > h1 {
  color: SteelBlue;
  padding-top: 30%;
  margin: auto;
}

.homepage-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-flex a:link {
  background-color: Silver;
  text-decoration: none;
}

.homepage-flex a:hover {
  background-color: Snow;
}

.homepage-flex div {
  text-align: center;
  margin: 20px;
}

a h2 {
  color: RoyalBlue;
}

a p {
  color: Black;
}
