body {
  background-color: DimGray;
}

h1 {
  color: MediumBlue;
}

.homepage-grid {
  display: grid;
  text-align: center;
}

.homepage-drid a:link {
  background-color: Silver;
  text-decoration: none;
}

.homepage-grid a:hover {
  background-color: Snow;
}

.homepage-grid div {
  text-align: center;
  margin: 20px;
}

a h2 {
  color: RoyalBlue;
}

a p {
  color: Black;
}
