body {
  background-color: Gray;
  height: 100%;
  width: 100%;
}

body > h1 {
  color: SteelBlue;
  padding-top: 30%;
  text-align: center;
}

.homepage-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-flex h2 {
  color: SteelBlue;
  width: 100%;
  text-align: center;
}

.homepage-flex > a:link {
  color: RoyalBlue;
  background-color: Silver;
  text-decoration: none;
}

.homepage-flex > a:hover {
  background-color: Snow;
}

.homepage-flex p {
  text-align: center;
}
